input {
  border-radius: 5px;
  padding: 0 10px;
  color: var(--color-first);
  font-size: 1rem;
  font-weight: 600;
}

label {
  display: flex;
  align-items: center;
}

.input-nasa-date {
  display: flex;
  gap: 1rem;
  background-color: var(--color-first);
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 0.9rem;
}

.input-nasa-date h3 {
  color: var(--color-fourth);
}

@media screen and (max-width: 540px) {
  .input-nasa-date {
    flex-direction: column;
  }

  label > h3 {
    text-align: center;
  }
}
