footer {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  backdrop-filter: blur(10px);
  gap: 1rem;
}

.icon-rrss {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

footer p {
    color: var(--color-fourth);
}

footer img {
  /* border: 2px solid red; */
  height: 5vh;
  width: 100%;
  padding: 5px;
  background-color: #1b6aa7;
  border-radius: 10px;
  display: flex;
}

footer img:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@media screen and (max-width: 768px) {
  footer{
    justify-content: center;
    height: auto;
  }

  footer p {
    text-align: center;
  }

  .icon-rrss {
    justify-content: center;
  }
}