:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Color palette */
  --color-first: #051d2e;
  --color-second: #0c4d69;
  --color-third: #1b6aa7;
  --color-fourth: #f0f0f0;
  --color-fifth: #d31d3b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-first);
  text-decoration: none;
  list-style: none;
}

body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  transition: transform 0.8s ease-in-out;
}

a:hover {
  color: #535bf2;
  transform: scale(1.04);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 80vh;
}

h1 {
  color: var(--color-fifth);
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  padding: 0 4rem;
}

p {
  text-align: justify;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-fourth);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (max-width: 425px) {
  h1 {
    padding: 0;
  }
}

@media screen and (max-width: 1170px) {
  main {
    height: auto;
    margin: 2rem 0;
  }
}