.container-mars {
  width: 100%;
  height: 90%;
  display: flex;
}

.container-mars h3 {
  font-size: 1.3rem;
  margin-top: 1rem;
  text-align: center;
}

.container-mars h4 {
  font-weight: 500;
}

.img-mars {
  width: 65%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  overflow-y: auto;
}

.img-mars img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.img-mars > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-mars {
  width: 35%;
  padding: 0 1.5rem;
}

.text-mars > h2 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.container-button {
  margin-top: 1rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.container-button > button,
.show-all {
  color: var(--color-fourth);
  background-color: #1b6aa7;
  border-radius: 10px;
  width: 100%;
}

.container-button > button:hover,
.show-all:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.show-all {
  margin-top: 1rem;
  width: 100%;
}

/* .text-mars p {
    width: 40%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 0.5rem;
    background-color: var(--color-second);
    color: var(--color-fourth);
} */

@media screen and (max-width:560px) {
  .container-button {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1170px) {

  .container-mars {
    flex-direction: column-reverse;
    align-items: center;
  }

  .text-mars {
    width: 90%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .show-all {
    width: 50%;
  }

  .img-mars {
    height: 500px;
    width: 85%;
  }
}